<<style>
.bg-1 { 
    background-color: #8A0808; /* Green */
    color: #FF8000;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
</style>

<body>

<div class="container-fluid bg-1 text-center">
  <h3>BIENVENIDOS</h3>
  <img src="http://www.publimetro.com.mx/_internal/gxml!0/2qijkhn0ctpwx8acoz5fxkpvtmr4nbh$mii8orrs1rn0ausomb2nrjzis0ult8d/10150762-641270045921533-2356341172107951614-n.jpeg" class="img-circle" alt="Bird">
  <h3>A MI PRIMER MENU</h3>
</div>

<div class="container-fluid bg-2 text-center">
  <h3>JOSE EDUARDO RICO PATLAN</h3>
  <p>GITI-7091</p>
</div>

<div class="container-fluid bg-3 text-center">
  <h3></h3>
  <p></p>
</div>

