<div class="container">
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Document</title>
	<script type=""></script>
</head>
<body>
<head>
	
<div class="logo">
<IMG src="http://dummyimage.com/200x100/000/fff&text=LOGO" alt="">


</div>
<nav>
<ul> 
<li><a href="#">INICIO</a></li>
<li><a href="#">BLOG</a></li>
<li><a href="#">PROYECTOS</a></li>
<li><a href="#">TRABAJOS</a></li>
<li><a href="#">CONTACTO</a></li>
</ul>


</body>
</head>
</html>



<h1>Nuevo Estudiante</h1>

<%= render 'form' %>

<%= link_to 'Back', students_path,:class=>"btn btn-mini btn-warning" %>

</div>
</input>
