<span class="label label-default">PRIMERO</span>
<span class="label label-primary">SEGUNDO</span>
<span class="label label-success">TERCERO</span>
<span class="label label-info">CUARTO</span>
<span class="label label-warning">CERRAR</span>
<span class="label label-danger">SALIR</span>